html {
  height: 100%;
  box-sizing: border-box;
}


body {
  max-width: 1000px;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family:'PT Sans Caption', sans-serif;
}

div, section, main, aside, header, footer {
}

.nav-trigger {
  padding: 1em;
  z-index: 200;
  display: inline-block;
  float: right;
}

.nav-trigger:after {
  content:"menu";
}

.nav-trigger.close:after {
    content: "close";
}

.nav-trigger.open {
    color: black;
    font-weight: bold;
}

.nav-trigger.close {
  color: black;
  z-index: 1000;
  position: relative;
  font-weight: bold;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: -100%;
  height: 100vh;
}

nav.out {
  pointer-events: none;
}

nav.in {
  pointer-events: auto;
}

nav ul {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

nav ul {
  height: 100%;
  width: 100%;
}

nav li {
  height: auto;
  flex: 1;
  position: relative;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 36px;
}

nav.in {
    top: 0;
    opacity: 1;
}

nav.in li {
  opacity: 1;
}

.nav-label {
  position: absolute;
  width: 100%;
  left: 1em;
  text-align: left;
  top: 50%;
  margin-top: -8px;
}


.big-header {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: .03em;
  line-height: 1.1;
  margin-left: 1em;
  margin-right: 1em;
}

@media screen and (min-width: 600px)
  {.big-header {
    margin-left: 6em;
    font-size: 42px;
  }
	}


h1{
  font-size: 30px;
  margin-left: 1em;
  padding-top: 1em;
  padding-bottom: 3em;
}

@media screen and (min-width: 700px)
  {h1 {
    margin-left: 8em;
  }
  }

.mobile-logo {
  margin-top: -2.3em;
  margin-left: .5em;
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
  display: inline-block;
}

@media screen and (min-width: 600px)
  {.mobile-logo {
    margin-left: 14em;
  }
	}

  .desktop-logo {
    height: 450px;
    width: 450px;
    display: inline-block;
    margin-left: 10em;
    margin-top: 1em;
    margin-bottom: -18em;
  }

  @media screen and (max-width: 800px)
    {.desktop-logo {
      display: none;
    }
  	}


.container {
  padding-top: 4em;
  padding-bottom: 5em;
}

.item {
  background-image: url("photos/honeymoon.jpg");
  background-position: center no-repeat;
  background-size: cover;
  min-height: 200px;

}

@media screen and (min-width: 900px)
  {.container {
    margin-left: 8em;
  }
	}

  @media screen and (min-width: 600px)
    {.item {
    min-height: 400px;
    min-width: 800px;
    }
  	}

.container2 {
  padding-top: 5em;
  padding-bottom: 1em;
}

.item2 {
  background-image: url("photos/tape.jpg");
  background-position: center no-repeat;
  background-size: cover;
  min-height: 200px;
  margin-left: -1em;
  margin-right: -1em;
}

@media screen and (min-width: 600px)
  {.container2 {
    margin-left: 16em;
  }
	}

  @media screen and (min-width: 600px)
    {.item2 {
    min-height: 300px;
    min-width: 500px;
    }
  	}


p {
  font-size: 14px;
  margin-left: 2em;
  width: 250px;
  padding-bottom: 2em;
}

@media screen and (min-width: 600px)
  {p {
    margin-left: 13em;
    font-size: 18px;
  }
	}

h2 {
  font-size: 20px;
  margin-left: 1.5em;
  margin-right: 2em;
  padding-bottom: .25em;
}

@media screen and (min-width: 600px)
  {h2 {
    margin-left: 8.5em;
    font-size: 28px;
  }
	}

hr {
  border: none;
  height: 3px;
  background-color: black;
  margin: 2em;
  margin-top: 8em;
}

@media screen and (min-width: 600px)
  {hr {
    margin-left: 14em;
  }
	}

.news {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.75;
  width: 20em;
  margin-left: 1.25em;
}

.date {
  font-size: 9px;
  font-weight: bold;
  padding-bottom: 3em;
  margin-left: 1.8em;
}

.tracks {
  font-size: .65em;
  list-style-type: none;
  padding-bottom: -1em;
  padding-bottom: 2em;
	margin-left: -1.75em;
}

.buy {
  font-size: 15px;
  font-weight: bold;
  line-height: .5;
  padding-bottom: 4em;
  margin-left: .1em;
}

img {
  max-width: 100%;
}

.tracks {
  font-size: 15px;
  font-weight: bold;
  line-height: .5;
  }

ul {
  list-style: none;
  font-size: 15px;
  /*font-weight: bold;*/
  line-height: 1.8;
}


.contact {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .02em;
  margin-left: -.5em;
  padding-bottom: 2em;
  }


.social {
 font-size: 15px;
 font-weight: bold;
 line-height: 2;
 letter-spacing: .02em;
 margin-left: -.5em;
}

@media screen and (min-width: 600px)
  {.social {
    margin-left: 6em;
  }
  }

@media screen and (min-width: 600px)
  {.connect {
    display: flex;
    margin-left: 11em;
    font-size: 18px;
  }
  }


table {
  border-collapse: collapse;
  margin: 2em;
}

@media screen and (min-width: 700px)
  {table {
    margin-left: 15em;
    max-width: 60%;
  }
  }

tr {
  border-bottom: 3px solid black;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.75;
}

@media screen and (min-width: 700px)
  {tr {
    font-size: 18px;
  }
  }

td {
  display: block;
}

@media screen and (min-width: 800px)
  {td {
    display: table-cell;
  }
  }

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.album-art {

  border: 1px solid lightgrey;
  max-width: 100%;
  margin-left: -1.5em;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: left;
  font-size: 9px;
  letter-spacing: .15em;
  font-weight: bold;
}

@media screen and (min-width: 600px)
  {.footer {
    margin-left: 20em;
  }
  }
